html {
	/* background-color: #d3dbde; */
	background-image: url(https://i.loli.net/2020/05/10/iVXPvgZ2QnApOkS.jpg);
	background-position: center;
	/* backface-visibility: visible; */
	/* background-position: top; */
	background-size: cover;
	/* background-blend-mode: overlay; */
}

body {
	background-color:#ffffff;
	color: #333333;
	font-family: Segoe UI, Arial, sans-serif;
	width:1000px;
	border: 20px solid #ffffff;
	margin-left:auto;
	margin-right:auto;
}

header {
	background-color: #004499;
	color: #ffffff;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding-top: 30px; */
	/* padding-bottom: 30px; */
	/* text-align: center; */
}

header h1, header h2 {
	margin: 0;
}

nav {
	background:#333333;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around
}

nav a {
	font-weight: bold;
	color:#ffffff;
}

main {
	background-color: #ffffff;
	display: flex;
}

footer {
	background-color: #3d4348;
	color: #ffffff;
	padding: 20px;
}

footer a {
	color:#99ddff;
	font-weight: bold;
}

aside {
	background-color: #dddddd;
	padding: 20px;
	min-width: 300px;
}

article {
	padding: 20px;
}